:root {
    --background-color: #f7f7f7;
    --item-bg-color: #f5f5f5;
    --shadow-color: #e3e3e3;
    --text-color: gray;
    --form-bg-color: #ededed;
    --form-bg-color-hover: #dbdbdb;
    --item-text-color: #757575;
}


.enabled {
    color: var(--text-color);
    background-color: var(--background-color);
}

body.enabled .small-head-container {
    background-color: var(--item-bg-color);
    box-shadow: 7px 10px var(--shadow-color);
}

body.enabled .head-container {
    background-color: var(--item-bg-color);
    box-shadow: 7px 10px var(--shadow-color);
}

body.enabled .aspect-container {
    background-color: var(--item-bg-color);
    box-shadow: 7px 10px var(--shadow-color);
}

body.enabled .register-container {
    background-color: var(--item-bg-color);
    box-shadow: 7px 10px var(--shadow-color);
    color: #b5b5b5;
}

body.enabled .register-back {
    background-color: var(--item-bg-color);
    box-shadow: 7px 10px var(--shadow-color);
    color: #b5b5b5;
}

body.enabled #yt-cover {
    background-color: var(--item-bg-color);
}

body.enabled .time-container {
    box-shadow: 7px 10px var(--shadow-color);
    background-color: var(--item-bg-color);
}

body.enabled .dropdown-text {
    color: black;
}

body.enabled .add-time {
    background-color: lightgreen;
}

body.enabled .add-time-enabled {
    background-color: lightgreen;
}

    body.enabled .add-time-enabled:hover {
        background-color: darkseagreen;
    }

body.enabled .add-time-late {
    background-color: darkseagreen;
}

body.enabled .add-time-late-enabled {
    background-color: darkseagreen;
}

    body.enabled .add-time-late-enabled:hover {
        background-color: darkgreen;
    }

body.enabled .time-time {
    color: lightblue;
}

    body.enabled .time-time:hover {
        color: darkcyan;
    }

body.enabled .time-delete {
    color: lightcoral;
}

    body.enabled .time-delete:hover {
        color: orangered;
    }

body.enabled .delete-saved-video {
    color: #3b0909;
}

    body.enabled .delete-saved-video:hover {
        color: #2b0707;
    }

body.enabled .btn-secondary, body.enabled .btn-secondary:visited {
    color: var(--text-color);
    background-color: #cfcfcf;
}

    body.enabled .btn-secondary:hover, body.enabled .btn-secondary:focus, body.enabled .btn-secondary:active {
        color: var(--form-bg-color-hover) !important;
        background-color: var(--form-bg-color-hover) !important;
    }

    body.enabled .btn-secondary:not(:disabled):not(.disabled).active, body.enabled .btn-secondary:not(:disabled):not(.disabled):active, body.enabled .show > .btn-secondary.dropdown-toggle {
        background-color: #4c4d4f;
    }

body.enabled .btn-outline-secondary, body.enabled .btn-outline-secondary:visited, body.enabled .btn-outline-secondary:disabled {
    color: var(--text-color);
    background-color: var(--form-bg-color) !important;
    border-left: 3px solid var(--item-bg-color) !important;
}

    body.enabled .btn-outline-secondary:hover, body.enabled .btn-outline-secondary:focus, body.enabled .btn-outline-secondary:active {
        color: var(--item-text-color);
        border-left: 3px solid var(--item-bg-color) !important;
        box-shadow: 0px 0px 5px 3px #ded9d9 !important;
        background-color: var(--form-bg-color-hover) !important;
    }

    body.enabled .btn-outline-secondary:not(:disabled):not(.disabled).active, body.enabled .btn-outline-secondary:not(:disabled):not(.disabled):active, body.enabled .show > .btn-outline-secondary.dropdown-toggle {
        color: var(--item-text-color);
        border-color: #c9c9c9 !important;
        border-left: 3px solid var(--item-bg-color) !important;
    }

body.enabled .form-control {
    color: #5c5c5c;
    background-color: var(--form-bg-color) !important;
}

    body.enabled .form-control:hover, body.enabled .form-control:focus {
        color: var(--item-text-color);
        background-color: var(--form-bg-color-hover) !important;
        box-shadow: 0px 0px 5px 3px #ded9d9;
    }

body.enabled.input-group-text {
    color: #5c5c5c;
    background-color: var(--form-bg-color);
}

body.enabled .input-group-text {
    color: var(--text-color);
    background-color: var(--form-bg-color);
    border: none;
}

body.enabled .dropdown-menu {
    color: #5c5c5c;
    background-color: var(--item-bg-color);
    box-shadow: 5px 5px var(--shadow-color);
}

body.enabled .dropdown-item {
    color: #a6a4a4;
}

    body.enabled .dropdown-item:hover, body.enabled .dropdown-item:focus {
        color: var(--item-text-color);
        background-color: var(--form-bg-color);
    }

    body.enabled .dropdown-item.disabled {
        color: var(--item-text-color);
    }

body.enabled .alert-dark {
    background-color: #dbdbdb;
    box-shadow: 5px 8px var(--shadow-color);
    color: #5c5c5c;
}

body.enabled .close {
    color: #5c5c5c;
}

