{% extends "layout.html" %}

{% block scripts %}
<script src="/static/basic.js" type="text/javascript"></script>
{% endblock %}

{% block title %}Register An Account{% endblock %}
{% block desc %}Register an account with YTMarker, allowing you to save videos, and share them with others.{% endblock %}

{% block main %}
<div class="mx-auto d-flex-column justify-content-center p-3">
    <header class="register-back my-auto mx-auto pt-10">
        <a class="btn btn-secondary" href="/">Back</a>
    </header>

    </br>

    {% for message in get_flashed_messages() %}
    <div class="alert alert-dark">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    <div class="register-container my-auto mx-auto">
        <p>Registering a <span id="non-premium-color">ytmarker.com account</span> allows you to:</p>
        <ul>
            <li>Save up to two videos</li>
            <li>Load the videos of others with a link</li>
            <li>Share your saved videos with others</li>
            <li>Generate a text version of your lists</li>
        </ul>
        <p>Along with the above benefits, subscribing for a <span style="color: gold">premium ytmarker.com account</span> will also allow you to:</p>
        <ul>
            <li>Save unlimited videos</li>
            <li>Change the time of the delay in the settings</li>
            <li>Use extra buttons on the keyboard to add time to lists</li>
        </ul>
    </div>

    </br>

    <div class="register-container mx-auto">
        <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="email" placeholder="Email" type="email">
            </div>
            <div class="form-group">
                <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <div class="form-group">
                <input class="form-control" name="confirm_password" placeholder="Confirm Password" type="password">
            </div>
            <button class="btn btn-secondary" type="submit">Register</button>
        </form>
    </div>
</div>
{% endblock %}
